streamlit==1.32.0
python-dotenv==1.0.0
pandas>=2.0.0
requests>=2.0.0
pyhwp==0.1b9
olefile==0.46
langchain==0.3.19
langchain-core>=0.3.35
langchain-text-splitters>=0.3.6
google-generativeai==0.3.1
google-ai-generativelanguage==0.4.0
pyhwpx==0.44.1
pywin32==308; platform_system=="Windows" 